.LoaderSplash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999;
  background: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__percent {
    position: relative;
    z-index: 10;
    font-family: $font-serif;
    font-size: 210px;
  }
}

._theme-dark .LoaderSplash {
  background: #121212;
  color: #FFF;
}