@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Avenir-Heavy.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Avenir-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Avenir-Heavy.svg#5210a83cbeaba3c69473142e37abdff7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/avenir-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/avenir-light-webfont.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/avenir-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/avenir-light-webfont.svg#78de6cebc05d0d6b5836c87138de5726') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir-medium.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/avenir-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/avenir-medium.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/avenir-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/avenir-medium.svg#fe63bcc1f2e61dbaf7508598c11576b9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Didot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Didot.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Didot.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Didot.svg#7226759d2e91f9f52d6cba6d35e6a606') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
