@mixin clear() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin no-link-effect() {
  &::after {
    display: none;
    border-bottom: 0;
  }
}

@mixin headroom-transition() {
  transition: transform .2s ease-out;
}
