$gray: #989898;
$light-gray: #DCDCDC;

$signature-red: #FF5656;

$header-left-width: calc(3% + 160px);
$header-right-width: calc(3% + 160px);

$font-serif: 'Didot', sans-serif;

$delay-home-project-animation: 1.5s;